

<h1>{{ question.question_text }}</h1>

{% if error_message %}<p style="color:red"><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
{% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
{% endfor %}
<br>
<input type="submit" value="VOTE"  style="background-color : green; color : white; border-color : blue">
</form>
<a href="{% url 'polls:results' question.id %}">
    <input type="submit" value="VOTES-POLLED" style="background-color : orange; color : white; border-color : blue";>
</a>
<br>
<br>
<a href="{% url 'polls:index' %}">
    <input type="submit" value="HOME" style="background-color : rgb(13, 245, 233); color : white; border-color : blue";>
</a>
